.HeaderContainer {
    background: black;
    height: 6.5rem;
    

    display: flex;
    align-items: center;

    padding: 2rem 4rem;
    border-bottom: 1px solid var(--gray-100);
    p {
        margin-left: 2rem;
        padding: 0.25rem 0 0.25rem 2rem;
        border-left: 1px solid var(--white);
        display: block ruby;
        color: white;
    }
    span {
        margin-left: 56rem;
        text-transform: capitalize;
        display: block ruby;
        color: white;
        
    }
}